<div class="clr-row">
        <h6 class="clr-col-4">vmware/{{currentRepo}} commits</h6>
        <button routerLink="/profile" class="btn btn-return clr-col-4">BACK TO THE PINNED REPOS</button>
    </div>
    <clr-tabs>
        <clr-tab>
            <button clrTabLink id="link1"><clr-icon shape="file-settings"></clr-icon>Details</button>
            <clr-tab-content id="details-content"></clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink><clr-icon shape="tasks"></clr-icon>Commits</button>
            <clr-tab-content *clrIfActive="true">
                <clr-datagrid>
                    <clr-dg-column>Commit</clr-dg-column>
                    <clr-dg-column>Date</clr-dg-column>
                    <clr-dg-column>Contributer</clr-dg-column>
                    <clr-dg-column>Download patch</clr-dg-column>
    
                    <clr-dg-row *clrDgItems="let commit of repoCommits" [clrDgItem]="commit" [attr.data-index]="i">
                        <clr-dg-cell>{{commit?.node.message}}</clr-dg-cell>
                        <clr-dg-cell>{{commit?.node.author.date}}</clr-dg-cell>
                        <clr-dg-cell>{{commit?.node.author.name}}</clr-dg-cell>
                        <clr-dg-cell>
                            <button class="clr-col-4" class="btn btn-primary" (click)="downloadPatch(commit.node.oid)">
                                DOWNLOAD
                            </button>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="10">
                          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.total}} commits
                        </clr-dg-pagination>
                      </clr-dg-footer>
    
                </clr-datagrid>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
    